extend layout
block content
    h1 #{title}
    p Math.fround() is applied to #{c1} is #{c}
    p Math.random() is applied to #{c2} is #{h}
    p Math.round() is applied to #{c3} is #{a}
    p Math.round() is applied to #{c4} is #{r}